.u-text-centered{
    text-align: center;
}

.u-squeezed-div{
    display: inline-block;
    width: auto;
}

.u-d-flex{
    display: flex;
}

.u-border-b {
    border-bottom: 1px solid rgba(100, 100, 100, .4);
}

.u-padding-s {
    padding: 1rem;
}
.u-paddingX-s {
    padding: 0 1rem;
}

.u-text-align-center{
    text-align: center;
}