.testimonials{
    background-color: #fafafa;
    padding: 3rem;

&__row{
    display: flex;
    flex-direction: row;
}

&__image-container{
    flex: 1;
}

&__image{
    width: 100%;
    background-color: grey;
    border-radius: 10rem 0 10rem 10rem;
}

&__content{
    flex: 2;
    padding-left: 2rem;

}
&__text{

}
&__name{

}
&__flair{

}
}

