// COLOR
$color-primary: #9fffcb;
$color-primary-light: #80ffba;
$color-primary-dark: #1aff83;

$color-secondary: #004e64;
$color-secondary-light: #006380;
$color-secondary-dark: #00141a;

$color-tertiary: #25a18e;
$color-tertiary-light: #219180;
$color-tertiary-dark: #18685b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;



// breakpoints
$screen-width-xsmall: '480px';
$screen-width-small: "600px";
$screen-width-medium: "900px";
$screen-width-large: "1600px";
$screen-width-xlarge: "1800px";
