@import url(https://fonts.google.com/specimen/Roboto?selection.family=Lato:wght@400;700;900|Roboto:wght@300;400;500;700&sidebar.open&query=roboto);


* {
box-sizing: border-box;    
}

html {
    font-size: 18px;
    font-family: 'Lato';
}
p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.text__light {
    color: #fff
}
.text__dark{
    color: #000
}


@keyframes moveInLeft {
    0%{
        transform: translateX(-25px);
    }
    80%{
        transform: translateX(-5px);

    }
    100%{
        transform: translateX(0px);

    }
}

@keyframes moveInRight {
    0%{
        transform: translateX(25px);
    }
    80%{
        transform: translateX(5px);

    }
    100%{
        transform: translateX(0px);

    }
}

@keyframes fadeIn {
    0%{opacity: 0;}
    80%{opacity: .95;}
    100%{opacity: 1;}
}