.header {
    width: 100%;
    height: 85vh;
    position: relative;
    background : linear-gradient(210deg,rgba(85, 197, 122, .4), rgba(40, 180, 133, .3)), 
    url('../../public/static/images/travel.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-bottom: 4rem solid rgba(40, 180, 133, 1);
}

.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {

}
.heading-primary__main{
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    animation: moveInLeft .12s ease-out, fadeIn .13s ease-out;
    opacity: 1;
}

.heading-primary__sub {
    display: block;
    font-size: 1.8rem;
    animation: moveInRight .1s  .1s ease-out, fadeIn .1s ease-out;
    opacity: 1;
}


.btn:link, .btn:visited{
    position: relative;
    transition: all .2s ease-in-out;
    padding: .4rem 1.2rem;
margin: auto;
border-radius: 1rem;
display: inline-block;
text-decoration: none;
text-transform: uppercase;

}
.btn::after{
    content: " ";
    background: red;
position: absolute;
left: 0;
top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: all .16s ease-out;
}
.btn:hover{
    transform:translateY(2px);
    box-shadow: 3px 3px 3px rgba( 22, 35, 230, .1);

}
.btn:hover::after{
    transform: scale(1.5);
    opacity: 0;

}
.btn__white {
    background-color: white;
    color: black;
}
.btn__white::after{
    background-color:#fff
}

